@tailwind base;
@tailwind components;

.nav-burger.active .burger-section:first-child {
    transform: rotate(45deg) translate(4px,4px);
}
.nav-burger.active .burger-section:nth-child(2) {
    opacity: 0;
}
.nav-burger.active .burger-section:last-child {
    transform: rotate(-45deg) translate(7px,-9px);
}
.nav-list {
    height: 0px;
    transition: height 0.5s;
}
.options {
    transition: height 0.25s;
}
.options.active {
    height: 192px;
}
.input-expand.active {
    background-color: #141E61;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
.navigator .active{
    background-color: #0C7B93;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

@media (max-width: 640px) {
    .nav-list.active {
        height: 125px;
    }
}

@tailwind utilities;

@font-face {
    font-family: "Goldman";
    src: url("../fonts/Goldman/Goldman-Regular.ttf");
}
@font-face {
    font-family: "Goldman Bold";
    src: url("../fonts/Goldman/Goldman-Bold.ttf");
}